{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
    </head>
    <body>
        <h1>Contact Us</h1>

        <div class="contact">

            <p>If you have any questions or want to reach out, feel free to contact us:</p>

            <ul>
                <li><strong>Phone:</strong> +91 9876543210</li>
                <li><strong>Email:</strong> contact@restaurant.com</li>
                <li><strong>Address:</strong> 123 Food street,Ujjain, Madhya Pradesh, India</li>
            </ul>

        </div>

    </body>
</html>