<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>

    <body>
         
        <h1>Restaurants's Menu</h1><br><br>
        <div class="menu" id="menu">
            <!-- Menu items will be loaded here -->
        </div>
        
        <script>
            // Fetch menu data from the API
            fetch('/menu/')
            
        </script>
    </body>
</html>
