<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
        <title>Home</title>
    </head>

    <body>
         
        <h1>Welcome to {{ restaurant_name }}</h1><br><br>
        <div class="menu" id="menu">
            <!-- Menu items will be loaded here -->
        </div>

        <p>Call us at: <strong>{{ phone_number }}</strong></p>
        
        <script>
            // Fetch menu data from the API
            fetch('/menu/')
                  .then(response => response.json())
                  .then(data => {
                       let menuHTML = ""
                       data.forEach(item =>{
                          menuHTML +=
                             
                            <div class="menu-item">
                             
                                <h3>${item.name}</h3>
                             
                                <p>${item.description}</p>
                             
                                <p class="price">${item.price}</p>
                             
                            </div>
                          ;

                        });
                        document.getElementById('menu').innerHTML = menuHTML;
                    });
                    .catch(err =>{
                        document.getElementById('menu').innerHTML = "<p>Unable to load menu</p>"
                        console.error(err);
                    });
                
                
            
        </script>
    </body>
</html>
