<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ restaurant_name }}</title>
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
    </head>

    <body>
         <h1>Welcome to {{ restaurant_name }}</h1>
         <!-- Display restaurant name -->
         <!-- Welcome message -->
         <p>We are glad to have you here! Explore our delicious menu and enjoy a great dining experience</p>   

        <h1>Restaurants's Menu</h1><br><br>
        <div>
            <div class="menu" id="menu">
            <!-- Menu items will be loaded here -->
            </div>
        </div>
        <!-- Display phone number of restaurant -->
        <p>Call us at: <strong>{{ phone_number }}</strong></p>
        
        <script>
            // Fetch menu data from the API
            fetch('/menu/')
            
        </script>
        <!-- footer -->
        <footer>
            <p>&copy; {{ current_year }} My Restaurant. All rights reserved.</p>
        </footer>
    </body>
</html>
