body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 2px;
    margin: 0px;

}

header h1{

    margin: 10px;
    font-size: 18px;
}



